extends /layout

block content
    div(class='container')
        h1= title
        table.table
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Status
                    th(scope='col') Created Date
                    th(scope='col') Actions
            tbody
                each order in orders
                    tr
                        th(scope='row') #{order.id}
                        case order.status
                            when 1
                                td new
                            when 2
                                td ordered
                            when 3
                                td cooking
                            when 4
                                td canceled
                            when 5
                                td finished
                        td=moment(order.createdDate).format('MM/DD/YYYY, h:mm:ss a')
                        td
                            form(method='POST')
                                input(type='hidden' name='id' value=order.id)
                                button(type='submit'): i.far.fa-edit