extends /layout

block content
    div(class='container')
        form(name="login" action='/signup' method='POST')
            div(class='form-row')
                div(class='form-group col-md-3')
                    label(for='username') Username
                    input(type='text' class='form-control' name='username' placeholder='Username')
                div(class='form-group col-md-3')
                    label(for='Password') Password
                    input(type="text" i class='form-control' name='password' placeholder='Password')
                div(class='form-group col-md-3')
                    label(for='Name') Name
                    input(type="text" i class='form-control' name='name' placeholder='name')
                div(class='row justify-content-right')
                    div(class='col-sm-12')
                        input(type='submit' class='btn-primary')
                if(error)
                    span(style='color:red;')=error
